[tool.poetry]
name = "cisco-telescope"
version = "0.3.4"
description = "Cisco Distribution for OpenTelemetry"
license = "Apache-2.0"
authors = ["Cisco Epsagon Team <support@epsagon.com>"]
readme = "README.md"
repository = "https://github.com/cisco-open/otel-py"

[tool.semantic_release]
version_variable = "pyproject.toml:version"
branch = "main"
upload_to_repository = true
upload_to_release = true
build_command = "pip install poetry && poetry build"

[tool.poetry.scripts]
telescope = 'cisco_telescope.cmd.trace:run'
telescope-bootstrap = 'cisco_telescope.cmd.bootstrap:run'

[tool.poetry.dependencies]
python = "^3.8"
argparse = "^1.4.0"
requests = "^2.27.1"
aiohttp = "^3.8.1"
opentelemetry-instrumentation-grpc = "0.29b0"
cisco-opentelemetry-specifications = "^0.0.15"
opentelemetry-semantic-conventions = "^0.29b0"
opentelemetry-sdk = "^1.10.0"
opentelemetry-instrumentation = "^0.29b0"
opentelemetry-exporter-otlp = "^1.10.0"
opentelemetry-instrumentation-requests = "^0.29b0"
opentelemetry-instrumentation-aiohttp-client = "^0.29b0"

[tool.poetry.dev-dependencies]
ipdb = "^0.13.9"
pytest-xdist = "^2.5.0"
opentelemetry-test-utils = "0.29b0"
pytest-cov = "^3.0.0"
virtualenv = "^20.14.0"
black = "^22.3.0"
python-semantic-release = "^7.28.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
testpaths = [
    "tests",
]