alabaster==0.7.12
attrs==21.4.0
awscli==1.22.33
Babel==2.9.1
backports.entry-points-selectable==1.1.1
botocore==1.23.33
certifi==2021.10.8
charset-normalizer==2.0.10
colorama==0.4.3
Deprecated==1.2.13
distlib==0.3.3
docopt==0.6.2
docutils==0.15.2
filelock==3.3.2
idna==3.3
imagesize==1.3.0
Jinja2==3.0.3
jmespath==0.10.0
jq==1.2.1
JsonForm==0.0.2
jsonschema==4.4.0
JsonSir==0.0.2
MarkupSafe==2.0.1
nose==1.3.7
opentelemetry-api==1.9.1
opentelemetry-distro==0.28b1
opentelemetry-instrumentation==0.28b1
opentelemetry-sdk==1.9.1
opentelemetry-semantic-conventions==0.28b1
packaging==21.3
pipreqs==0.4.11
platformdirs==2.4.0
protobuf==3.19.1
pyasn1==0.4.8
Pygments==2.11.2
pyparsing==3.0.6
pyrsistent==0.18.1
python-dateutil==2.8.2
Python-EasyConfig==0.1.7
pytz==2021.3
PyYAML==5.4.1
requests==2.27.1
Resource==0.2.1
rsa==4.7.2
s3transfer==0.5.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==4.3.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
typing_extensions==4.1.1
urllib3==1.26.8
virtualenv==20.10.0
wrapt==1.13.3
yarg==0.1.9
