aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.6.1
appnope==0.1.3
asgiref==3.5.2
asttokens==2.0.5
async-timeout==4.0.2
attrs==22.1.0
backcall==0.2.0
backoff==1.11.1
black==22.6.0
bleach==5.0.1
CacheControl==0.12.11
cachy==0.3.0
certifi==2022.6.15
charset-normalizer==2.1.0
cisco-opentelemetry-specifications==0.0.22
cisco-telescope==1.0.0
cleo==0.8.1
click==8.1.3
click-log==0.4.0
clikit==0.6.2
colorama==0.4.5
coverage==6.4.2
crashtest==0.3.1
decorator==5.1.1
Deprecated==1.2.13
distlib==0.3.5
docutils==0.19
dotty-dict==1.3.1
elastic-transport==8.1.2
elasticsearch==8.2.3
execnet==1.9.0
executing==0.9.1
fastapi==0.78.0
filelock==3.7.1
Flask==2.1.3
frozenlist==1.3.0
gitdb==4.0.9
GitPython==3.1.27
googleapis-common-protos==1.56.4
grpcio==1.48.0
h11==0.12.0
html5lib==1.1
httpcore==0.15.0
httpx==0.23.0
idna==3.3
importlib-metadata==4.12.0
iniconfig==1.1.1
install==1.3.5
invoke==1.7.1
ipdb==0.13.9
ipython==8.4.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
keyring==23.7.0
lockfile==0.12.2
MarkupSafe==2.1.1
matplotlib-inline==0.1.3
msgpack==1.0.3
multidict==6.0.2
mypy-extensions==0.4.3
opentelemetry-api==1.12.0rc2
opentelemetry-distro==0.32b0
opentelemetry-exporter-otlp==1.11.1
opentelemetry-exporter-otlp-proto-grpc==1.11.1
opentelemetry-exporter-otlp-proto-http==1.11.1
opentelemetry-instrumentation==0.32b0
opentelemetry-instrumentation-aiohttp-client==0.32b0
opentelemetry-instrumentation-aiopg==0.29b0
opentelemetry-instrumentation-asgi==0.32b0
opentelemetry-instrumentation-asyncpg==0.29b0
opentelemetry-instrumentation-aws-lambda==0.29b0
opentelemetry-instrumentation-boto==0.29b0
opentelemetry-instrumentation-botocore==0.29b0
opentelemetry-instrumentation-celery==0.29b0
opentelemetry-instrumentation-dbapi==0.29b0
opentelemetry-instrumentation-django==0.29b0
opentelemetry-instrumentation-elasticsearch==0.29b0
opentelemetry-instrumentation-falcon==0.29b0
opentelemetry-instrumentation-fastapi==0.32b0
opentelemetry-instrumentation-flask==0.32b0
opentelemetry-instrumentation-grpc==0.32b0
opentelemetry-instrumentation-httpx==0.29b0
opentelemetry-instrumentation-jinja2==0.29b0
opentelemetry-instrumentation-kafka-python==0.32b0
opentelemetry-instrumentation-logging==0.29b0
opentelemetry-instrumentation-mysql==0.29b0
opentelemetry-instrumentation-pika==0.29b0
opentelemetry-instrumentation-psycopg2==0.29b0
opentelemetry-instrumentation-pymemcache==0.29b0
opentelemetry-instrumentation-pymongo==0.32b0
opentelemetry-instrumentation-pymysql==0.29b0
opentelemetry-instrumentation-pyramid==0.29b0
opentelemetry-instrumentation-redis==0.29b0
opentelemetry-instrumentation-requests==0.32b0
opentelemetry-instrumentation-sklearn==0.29b0
opentelemetry-instrumentation-sqlalchemy==0.29b0
opentelemetry-instrumentation-sqlite3==0.29b0
opentelemetry-instrumentation-starlette==0.29b0
opentelemetry-instrumentation-tornado==0.29b0
opentelemetry-instrumentation-urllib==0.29b0
opentelemetry-instrumentation-urllib3==0.29b0
opentelemetry-instrumentation-wsgi==0.32b0
opentelemetry-propagator-aws-xray==1.0.1
opentelemetry-propagator-b3==1.11.1
opentelemetry-proto==1.11.1
opentelemetry-sdk==1.12.0rc2
opentelemetry-semantic-conventions==0.32b0
opentelemetry-test-utils==0.32b0
opentelemetry-util-http==0.32b0
packaging==21.3
pants==1.0.1
parso==0.8.3
pastel==0.2.1
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
pip==22.0.4
pkginfo==1.8.3
platformdirs==2.5.2
pluggy==1.0.0
poetry==1.1.12
poetry-core==1.0.8
prompt-toolkit==3.0.30
protobuf==4.21.4
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pydantic==1.9.1
Pygments==2.12.0
pylev==1.4.0
pymongo==3.12.3
pyparsing==3.0.9
pytest==7.1.2
pytest-cov==3.0.0
pytest-forked==1.4.0
pytest-xdist==2.5.0
python-gitlab==3.7.0
python-semantic-release==7.31.2
readme-renderer==35.0
requests==2.28.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
semver==2.13.0
setuptools==62.0.0
setuptools-scm==6.4.2
shellingham==1.4.0
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
stack-data==0.3.0
starlette==0.19.1
toml==0.10.2
toml-sort==0.20.0
tomli==2.0.1
tomlkit==0.10.2
tqdm==4.64.0
traitlets==5.3.0
twine==3.8.0
typing_extensions==4.3.0
urllib3==1.26.11
uvicorn==0.18.2
virtualenv==20.16.2
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.2.1
wheel==0.37.1
wrapt==1.14.1
yarl==1.7.2
zipp==3.8.1
